# IMPORTING ALL THE LIBRARIES

In [1]:
from selenium import webdriver
from selenium.webdriver.support.select import Select
import pandas as pd
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import StaleElementReferenceException

In [164]:
driver=webdriver.Chrome(executable_path="C:\chromedriver")

In [165]:
driver.get("https://www.mahindrafirstchoice.com/")

In [166]:
delhi=driver.find_elements_by_xpath("//*[@id='select_your_city_modal']/div/div/div/ul/li[2]/a")

In [167]:
delhi[0].click()

In [168]:
allbuys=driver.find_element_by_xpath('//*[@id="wrapperid"]/div[2]/nav[2]/div/ul/li[1]')

In [169]:
allbuys.click()

In [170]:
allcars=driver.find_element_by_xpath('//*[@id="wrapperid"]/div[2]/nav[2]/div/ul/li[1]/div/a[2]')

In [171]:
newlink=allcars.get_attribute('href')

In [172]:
print(newlink)

https://www.mahindrafirstchoice.com/buy/used-cars/delhi

In [173]:
driver.get('https://www.mahindrafirstchoice.com/buy/used-cars/delhi')

In [ ]:
'''
    1. Year of Car (like 2014 )
    2. Make of car (like Maruti )
    3. Model- (like RITZ LXI BS IV)
    4. Price of car
    5. Location of car - like Delhi, Ghaziabad
    6. Kilometers 
    7. Diesel/Petrol
    8. Body-type: like Hatchback, Sedan, SUV
    9. Owner- like 1st owner
'''

# GOING TILL THE END OF THE PAGE

In [175]:
last_height = driver.execute_script("return document.body.scrollHeight")
while True:
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    time.sleep(6)
    new_height = driver.execute_script("return document.body.scrollHeight")
    print('THIS MUCH HEIGHT COMPLETED'+' '+str(new_height))
    if new_height == last_height:
        print('Completed')
        break
    last_height = new_height

THIS MUCH HEIGHT COMPLETED 8314
THIS MUCH HEIGHT COMPLETED 11414
THIS MUCH HEIGHT COMPLETED 14514
THIS MUCH HEIGHT COMPLETED 17614
THIS MUCH HEIGHT COMPLETED 20714
THIS MUCH HEIGHT COMPLETED 23814
THIS MUCH HEIGHT COMPLETED 26914
THIS MUCH HEIGHT COMPLETED 30014
THIS MUCH HEIGHT COMPLETED 33114
THIS MUCH HEIGHT COMPLETED 36214
THIS MUCH HEIGHT COMPLETED 39314
THIS MUCH HEIGHT COMPLETED 42414
THIS MUCH HEIGHT COMPLETED 45514
THIS MUCH HEIGHT COMPLETED 48614
THIS MUCH HEIGHT COMPLETED 51714
THIS MUCH HEIGHT COMPLETED 54814
THIS MUCH HEIGHT COMPLETED 57914
THIS MUCH HEIGHT COMPLETED 61014
THIS MUCH HEIGHT COMPLETED 64114
THIS MUCH HEIGHT COMPLETED 67214
THIS MUCH HEIGHT COMPLETED 70314
THIS MUCH HEIGHT COMPLETED 73414
THIS MUCH HEIGHT COMPLETED 76514
THIS MUCH HEIGHT COMPLETED 79614
THIS MUCH HEIGHT COMPLETED 82714
THIS MUCH HEIGHT COMPLETED 85814
THIS MUCH HEIGHT COMPLETED 88914
THIS MUCH HEIGHT COMPLETED 92014
THIS MUCH HEIGHT COMPLETED 95114
THIS MUCH HEIGHT COMPLETED 98214
THIS MUCH HEIGHT COMPLETED 101314
THIS MUCH HEIGHT COMPLETED 104414
THIS MUCH HEIGHT COMPLETED 107514
THIS MUCH HEIGHT COMPLETED 110614
THIS MUCH HEIGHT COMPLETED 113714
THIS MUCH HEIGHT COMPLETED 116814
THIS MUCH HEIGHT COMPLETED 119914
THIS MUCH HEIGHT COMPLETED 123014
THIS MUCH HEIGHT COMPLETED 126114
THIS MUCH HEIGHT COMPLETED 129214
THIS MUCH HEIGHT COMPLETED 132314
THIS MUCH HEIGHT COMPLETED 135414
THIS MUCH HEIGHT COMPLETED 138514
THIS MUCH HEIGHT COMPLETED 141614
THIS MUCH HEIGHT COMPLETED 144714
THIS MUCH HEIGHT COMPLETED 147814
THIS MUCH HEIGHT COMPLETED 150914
THIS MUCH HEIGHT COMPLETED 154014
THIS MUCH HEIGHT COMPLETED 157114
THIS MUCH HEIGHT COMPLETED 160214
THIS MUCH HEIGHT COMPLETED 163314
THIS MUCH HEIGHT COMPLETED 166414
THIS MUCH HEIGHT COMPLETED 169514
THIS MUCH HEIGHT COMPLETED 172614
THIS MUCH HEIGHT COMPLETED 173854
THIS MUCH HEIGHT COMPLETED 173854
Completed

# GETTING ALL THE REQUIRED INFORMATION

In [327]:

makeofacar=driver.find_elements_by_xpath('//h3[@class="buyer_variant"]')
        #YOU WILL GET PRICE OF A CAR IN THIS
priceofacar=driver.find_elements_by_xpath('//span[@class="car_price"]')
        #YOU WILL GET LOCATION OF A CAR
locationofacar=driver.find_elements_by_xpath('//span[@class="buyer_locations icon_set stock_location b"]')
        #YOU WILL GET THE ENTIRE OTHER DETAILS OF A CAR
allist=driver.find_elements_by_xpath('//ul[@class="spec-info-list"]')

In [340]:
# YOU WILL GET ALL THE DATES
alldates=driver.find_elements_by_xpath("//a[@class='lnkstockdetail']/h3")
alldates1=[]
for i in range(0,len(alldates),2):
    #print(alldates[i].text)
    alldates1.append(alldates[i].text)

# STORING IN THE FINAL LIST

In [347]:
count=0
#for price of a car you have to start from 16....That is the point from where it starts
dcount=16
finallist=[]
while True:
    # Scroll down to bottom
    try:
        newlist=[]
        newstr=str(alldates1[count])
        year=newstr[0:4]
        newlist.append(year)
        carname=newstr[5:]
        newlist.append(carname)
        model=makeofacar[count].text
        newlist.append(model)
        price=priceofacar[dcount].text
        if len(price)==0:
            price="NO PRICE"
        newlist.append(price)
        loc=locationofacar[count].text
        newlist.append(loc)
        #print(allist[count].text.split('\n'))
        allinone=allist[count].text
        infolist=allinone.split('\n')
        count=count+1
        dcount=dcount+1
        if len(infolist)>4:
            kilometer=infolist[0]
            newlist.append(kilometer)
            typeoffuel=infolist[1]
            typeoffuel=str(typeoffuel)
            typeoffuel=typeoffuel[0:-1]
            typeoffuel1=infolist[2]
            typeoffuel1=str(typeoffuel1)
            mainfuel=typeoffuel+' '+typeoffuel1
            newlist.append(mainfuel)
            typeofcar=infolist[3]
            newlist.append(typeofcar)
            Owner=infolist[4]
            newlist.append(Owner)
            finallist.append(newlist)
            #print(newlist)
        else:
            #['19,000 Kms', 'Petrol', 'Hatchback', '1st Owner']
            kilometer=infolist[0]
            newlist.append(kilometer)
            typeoffuel=infolist[1]
            newlist.append(typeoffuel)
            typeofcar=infolist[2]
            newlist.append(typeofcar)
            Owner=infolist[3]
            newlist.append(Owner)
            finallist.append(newlist)
            #print(newlist)
    except IndexError:
        print('IT ISCOMPLETED')
        break

IT ISCOMPLETED

In [348]:
print(len(finallist))

831

# ALL 831 CAR DETAILS IS STORED IN THE LIST AND CONVERTING IT TO CSV

In [349]:
#NOW YOU HAVE GOT THE FIANL LIST OF 831 CARS IN DELHI
import pickle
# TO STORE THE DATA FOR FURTHER REFERENCE
with open("finalnoyo.pkl","wb") as f:
    pickle.dump(finallist,f)

In [350]:
#YOU ARE CLOSING THE DRIVER
driver.quit()

In [352]:
df=pd.DataFrame(finallist,columns=['Year of Car','Make of car','Model','Price of car','Location of car','Kilometers','Diesel/Petrol','Body-type','Owner'])

In [354]:
df.head(200)

,Year of Car,Make of car,Model,Price of car,Location of car,Kilometers,Diesel/Petrol,Body-type,Owner
0,2020,Renault,KWID CLIMBER 1.0 AMT,4.9 Lakhs,Delhi,"19,000 Kms",Petrol,Hatchback,1st Owner
1,2019,Renault,KWID RXL,3.65 Lakhs,Faridabad,"14,214 Kms",Petrol,Hatchback,1st Owner
2,2019,Renault,KWID RXL,3.65 Lakhs,Faridabad,"14,214 Kms",Petrol,Hatchback,1st Owner
3,2019,Tata,TIAGO REVOTRON XZ PL...,5.65 Lakhs,Faridabad,"9,109 Kms",Petrol,Hatchback,1st Owner
4,2019,Maruti Suzuki,S PRESSO VXI PLUS,4.5 Lakhs,Ghaziabad,"20,200 Kms",Petrol,Hatchback,1st Owner
...,...,...,...,...,...,...,...,...,...
195,2018,Toyota,PLATINUM ETIOS VX,6.15 Lakhs,Gurgaon,"34,089 Kms",Petrol,Sedan,1st Owner
196,2017,Hyundai,GRAND I10 SPORTZ 1.1...,4.75 Lakhs,Faridabad,"28,147 Kms",Diesel,Hatchback,1st Owner
197,2018,Mahindra,THAR DI 4WD,9 Lakhs,Delhi,"5,915 Kms",Diesel,SUV,1st Owner
198,2017,Renault,KWID RXT,3.45 Lakhs,Faridabad,"24,245 Kms",Petrol,Hatchback,1st Owner
199,2017,Renault,KWID RXT,3.75 Lakhs,Faridabad,"24,245 Kms",Petrol,Hatchback,1st Owner

# BY USING APPLY FUNCTION YOU CAN CHANGE ANY OF THE COLUMN

In [355]:
#def f(strr):
    #return strr
#Ex:- df['Model']=df['Model'].apply(f)

In [356]:
df.to_csv('Noyo Assignment.csv',index = False)

# THANK YOU